{% extends "base.html" %}
{% load static %}
{% block head_css_page %}{% endblock head_css_page %}
{% block body_col1_content %}{% endblock body_col1_content %}
{% block body_col2_content %}{%  endblock body_col2_content %}
{% block body_col3_content %}{%  endblock body_col3_content %}
{% block body_slide %}{% endblock body_slide %}
{% block footer_javascript_site %}<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>{% endblock footer_javascript_site %}
{% block footer_javascript_page %}{% endblock footer_javascript_page %}
