{% extends "rateslide/base.html" %}
{% block body_col1_content %}
    {% load markdown_deux_tags %}
    <h2>{{ CaseList.Name }}</h2>
    {%  if UserDict.case_count_total > 0 %}
     	<p>{{ UserDict.case_count_completed }}/{{ UserDict.case_count_total }} cases done</p>
    	{% if UserDict.case_count_todo > 0 %}
    	    <p><br><b><a href="{% url 'rateslide:next-case' CaseList.Slug %}">Rate next case</a></b></p>
   	    {% endif %}
       	{% if UserDict.canAdmit %}
            <p><br><b><a href="{% url 'rateslide:apply-for-invitation' CaseList.Slug %}">Register for this survey</a></b></p>
        {% endif %}
       	{% if UserDict.isAdmin %}
            <p><br><b><a href="{% url 'rateslide:caselistreport' CaseList.Slug %}">Report</a></b></p>
        {% endif %}
   	{% endif %}
    {% if UserDict.isAdmin %}
        <p><br><b><a href="{% url 'rateslide:caselistadmin' CaseList.Slug %}">Administration</a></b></p>
    {% endif %}
   	<hr>
    {{ CaseList.Abstract|markdown }}
    <hr>
    {{ CaseList.Description|markdown }}
{% endblock body_col1_content %}
{% block body_col2_content %}
    {%  if CaseList.Type == "E" %}
        <h2>Cases</h2>
        {% if UserDict.case_evaluation %}<p>Correct answers : {{ UserDict.case_evaluation }}</p>{% endif %}
        {% for case in CaseList.case_set.all %}
            {% if case.id in UserDict.case_completed and case.Report != "" %}
                <p><a href="{% url 'rateslide:caseeval' case.id %}">{{ case.Name }} </a>  <font color="green"><b> OK</b> </font> </p>
            {% else %}
                <p><a href="{% url 'rateslide:case' case.id %}">{{ case.Name }} </a> {% if case.id in UserDict.case_completed %}  <font color="green"><b> OK</b> </font> {% endif %}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock body_col2_content %}
{% block body_col3_content %}
{% endblock body_col3_content %}