{% extends "rateslide/base.html" %}
        {% load static %}
        {% block head_css_page %}
            <link rel="stylesheet" type="text/css" href="{%  static 'rateslide/css/case.css' %}" />
        {% endblock head_css_page %}
            
            {% block body_col1_content %}

                <div id = "thumbnails" class = "thumbnails">
                	<ul class="form-button-radio">
                	{% for Slide in Slides %}
               	       <li>
                	   {%if forloop.first %}
                  	       <input id="slide{{ Slide.pk }}" name="slides" class="slide_link" type="radio" checked="checked">	
                 	   {% else %}
                  	       <input id="slide{{ Slide.pk }}" name="slides" class="slide_link" type="radio">	
               	       {% endif %}
               	       <label for="slide{{ Slide.pk }}" name="slides">{{ Slide.Name }}</label>
               	       </li>
                	{% endfor %}
                	</ul>
                </div>
                <div id="casebookmarks" class="bookmarks">
                	<br>{% for Bookmark in Case.casebookmark_set.all %}
                	    <button type="button" class="goto_casebookmark" value="{{ Bookmark.pk }}">{{ Bookmark.Text}}</button>
                	{% endfor %}
                	{% if Editor %}
                    <div style="border:1px solid #00D;">
                        <input type="text" class="bookmarktext" name="casebookmark" id="txt_casebookmark" />
                        <button type="button" class="makecasebookmark" id="btn_casebookmark" value="{{ Case.pk }}" disabled="disabled">Make bookmark</button>
                        {% if Case.casebookmark_set.count > 0 %}
                            <select id="lb_casebookmark" class="select">
                            {% for option in Case.casebookmark_set.all %}
                                <option value="{{ option.pk }}">{{ option.Text}}</option>
                            {% endfor %}
                            </select>
                            <button type="button" class="deletecasebookmark" id="del_casebookmark" value="{{ Case.pk }}">Delete bookmark</button>
                        {% endif %}
                    </div>
    				{% endif %}

                </div>
                <div id = "questions">
                    {% block body_questions %}
                        {% load markdown_deux_tags %}
                        <h2>{{ Case.Name }}</h2>
                        <hr>
                        {{ Case.Introduction|markdown }}
                        <hr>
                        <form action="{% url 'rateslide:submitcase' Case.id %}" method="post">
                        {% csrf_token %}
                        {% for Question in Questions %}
                            <br>
                            {{ Question.label|markdown }}
                            {% for Bookmark in Question.field.widget.attrs.bookmarks %}
                                <button type="button" class="goto_questionbookmark" value="{{ Bookmark.pk }}">{{ Bookmark.Text}}</button>
                            {% endfor %}
                            {% if Editor and Question.field.widget.attrs.question > 0 %}
                            <div style="border:1px solid #00D;">
                                <input type="text"  class="bookmarktext" name="questionbookmark_{{ Question.field.widget.attrs.question }}" id="txt_questionbookmark_{{ Question.field.widget.attrs.question }}" />
                                <button type="button" class="makequestionbookmark" id="btn_questionbookmark_{{ Question.field.widget.attrs.question }}" value="{{ Question.field.widget.attrs.question }}" disabled="disabled">Make bookmark</button>
                                {% if Question.field.widget.attrs.bookmarks|length > 0 %}
                                    <select id="lb_questionbookmark_{{ Question.field.widget.attrs.question }}" class="select">
                                    {% for option in Question.field.widget.attrs.bookmarks %}
                                        <option value="{{ option.pk }}">{{ option.Text}}</option>
                                    {% endfor %}
                                    </select>
                                    <button type="button" class="deletequestionbookmark" id="del_questionbookmark_{{ Question.field.widget.attrs.question }}" value="{{ Question.field.widget.attrs.question }}">Delete bookmark</button>
                                {% endif %}
                            </div>
                            {% endif %}
                            {{ Question }}
                        {% endfor %}
                        <hr>
  						<button id="submit" name="submit" type="submit" value="submit">Submit</button>
  						<button id="submitnew" name="submit" type="submit" value="submitnew">Submit and New</button>
  						
                        </form>
                        <p><a href="{% url 'rateslide:caselist' Case.Caselist.Slug %}">To case list</a></p>
                    {% endblock body_questions %}
                </div>
            {% endblock body_col1_content %}

{% block body_slide %}
<div id = "slidepane"></div>
{% endblock body_slide %}

{% block footer_javascript_page %}

<script type="text/javascript" src="{%  static '/histoslide/js/openseadragon.min.js' %}"></script>
<script type="text/javascript" src="{%  static '/histoslide/js/openseadragon-scalebar.js' %}"></script>
<script type="text/javascript" src="{%  static '/histoslide/js/openseadragon-annotations.js' %}"></script>
<script type="text/javascript" src="{%  static '/histoslide/js/histoslide.js' %}"></script>
<script type="text/javascript" src="{%  static '/rateslide/js/rateslide.js' %}"></script>

<script type="text/javascript">

$(document).ready(function() {
    bm_goto = false;
    open_slide("/histoslide/{{ Slides.0.pk }}.dzi");
    initialize_case()
});

</script>
{% endblock footer_javascript_page %}

