#content {
    float:left;
    overflow:visible;
    width:100%;
    margin-bottom:-76px;
}

#col1 {
    width: 380px;
}

#col2,
#col3 {
    border: none;
    margin: 0;
}

#col1_content {
    overflow:auto;
    height:970px;
}
#col2_content,
#col3_content {
    margin: 0px;
    padding: 0px;
}

#slide {
    height:1000px;
    max-height: 100%;
    min-height:400px;
    margin: 10px 10px 10px 400px;
    text-align: center;
    border: 1px solid #dddddd;
}

#slide img {
    max-height: 100%;
    width: 100%;
    border:none;
}

#slidepane {
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
    border:none;
}

#questions form p {
    margin-top: 10px;
    margin-bottom:10px;
}

label[for^=id_question_R]:after {
   content:" *";
   color:red;
}

input[type=radio] + label[for^=id_question_R]:after {
   content:"";
}

label[for^=id_question] {
    margin-bottom:10px;
    display:block;
}

input[id^=id_question] {
    display: list-item;
    margin-top:2px;
    width:99%;
    margin-bottom:16px;
}

select[id^=id_question] {
    display: list-item;
    width:100%;
    margin-top:2px;
}

label[name=slides] {
    margin-bottom:10px;
    display:block;
}

input[name=slides] {
    display: list-item;
    margin-top:2px;
    width:99%;
    margin-bottom:16px;
}

select[name=slides] {
    display: list-item;
    width:100%;
    margin-top:2px;
}


.errorlist {
}

.errorlist li {
    color: red;
    display: inline;
    float: right;
    font-size: 11px;
    margin-left: 3px;
    margin-right: 12px;
    margin-top:13px;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
/* GOOGLE CHROME FIXES */
    body:nth-of-type(1) input[id^=id_question] {
        display: list-item;
        width:315px;
        margin-top:2px;
        margin-bottom:5px;

    }

    body:nth-of-type(1) select[id^=id_question] {
        display: list-item;
        margin-top:2px;
        width:319px;

    }

    body:nth-of-type(1) label[for^=id_question] {
        margin-top:2px;
        width:315px;
    }

    body:nth-of-type(1) input[name=slides] {
        display: list-item;
        width:315px;
        margin-top:2px;
        margin-bottom:5px;
    }

    body:nth-of-type(1) select[name=slides] {
        display: list-item;
        margin-top:2px;
        width:319px;
    }

    body:nth-of-type(1) label[name=slides] {
        margin-top:2px;
        width:315px;
    }

    body:nth-of-type(1) .errorlist li     {
        margin-top: 3px;
    }

}

ul.form-button-radio {
	margin-left: 6px;
}

ul.form-button-radio li {
	display: inline-block;
}

ul.form-button-radio input[type="radio"] {
	opacity: 0;
    height: 1px;
}

ul.form-button-radio input[type="radio"]+label {
    padding: 2px;
    border: 1px outset #BBB;
    cursor: pointer;
	margin-bottom: 5px;
	width: 300px;
}

ul.form-button-radio input[type="radio"]:checked+label {
    font-weight: bold;
    background-color: #999;
    color: white;
	margin-bottom: 5px;
	width: 300px;
}

button.rs-line-button {
	width: 100px;
    color: black;
    border-color: black;
    float: left;
}

div.questionreport table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

div.questionreport table {
    border-collapse: collapse;
    width: 100%;
}

div.questionreport th {
    background-color: #999;
    color: white;
}
div.questionreport th, td {
    padding-left: 15px;
    padding-right: 10px;
    text-align: left;
}
div.questionreport tr:nth-child(even) {
    background-color: #fafafa;
}

div.questionreport img {
    padding: 10px;
    display: block;
    margin: 0 auto;
}